# CONFIGURATION
MUST_PORT=COM3

# MYSQL DATABASE
MYSQL_HOST='db_ip'
MYSQL_DATABASE='db_name'
MYSQL_USER='db_user'
MYSQL_PASSWORD='user_password'


# POWER MODE AUTO SWITCH
# Allowed values: true / false
ENABLE_AUTO_SWITCH=true

# Format: HH:MM
# 19:59 - False, 20:00 - True, 20:01 - True, 20:02 - True
AUTO_SWITCH_TARGET_TIME=20:00

# Target inverter energy mode
# Allowed values: SUB, SOL, SBU, UTI
AUTO_SWITCH_TARGET_MODE=SUB