# CONFIGURATION
MUST_PORT=COM3

# MYSQL DATABASE
MYSQL_HOST='db_ip'
MYSQL_DATABASE='db_name'
MYSQL_USER='db_user'
MYSQL_PASSWORD='user_password'

# DATA GATHERING
# Interval between inverter data requests, in seconds.
# Minimum: 10 seconds
# Maximum: 3600 seconds
# Invalid or missing values will use the default of 60 seconds.
DATA_GATHER_INTERVAL_SECONDS=60

# POWER MODE AUTO SWITCH
# Allowed values: true / false
ENABLE_AUTO_SWITCH=false

# Format: HH:MM
# 19:59 - False, 20:00 - True, 20:01 - True, 20:02 - True
AUTO_SWITCH_TARGET_TIME=20:00

# Target inverter energy mode
# Allowed values: SBU, SUB, UTI, SOL
AUTO_SWITCH_TARGET_MODE=SUB

# POWER MODE AUTO SWITCH — GRID OUTAGE
# Automatically switch the inverter mode when the electrical grid is unavailable.
# Allowed values: true / false
ENABLE_GRID_OUTAGE_AUTO_SWITCH=false

# Target inverter mode when the electrical grid is unavailable.
# Allowed values: SBU, SUB, UTI, SOL
GRID_OUTAGE_TARGET_MODE=SUB